@using Newtonsoft.Json
@model Assessment.Pokemon.Models.Pokemon.PokemonDetailViewModel;

@{
    ViewData["Title"] = "Pokemon Detail";
}
@section PageStyles{
<link rel="stylesheet" href="~/css/detail-pokemon.css" />
}
<body class="bg-detail">
    <button type="button" class="btn btn-outline-light btn-lg me-1" style="margin-top:-22px; margin-left: 1000px;" id="addpokemon" data="@(JsonConvert.SerializeObject(Model))">Add Pokemon</button>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position:relative; margin-top:50px; margin-left: 1210px; text-align: right ; bottom: 0; right: 300px;">
        <div class="toast-header">
            <strong class="mr-auto">Add Pokemon</strong>
        </div>
        <div class="toast-body">
            Berhasil di tambahkan ke daftar My Pokemon
        </div>
    </div>
    <div class="number">#@Model.No</div>
    <div class="content">
        <div class="row">
            <div class="title">
                <div class="subgrid">
                    <div class="emoji">
                        <span></span>
                    </div>
                    <div class="type">@Model.Types[0].Type.Name</div>
                    <div class="name">@Model.Species.Name</div>
                    <div class="desc">It has a preference for hot things. When it rains, steam is said to spout from the tip of its tail.</div>
                    <div class="details">
                        <div class="row-ex">
                            <span>Height</span>
                            <span>@Model.Height M</span>
                        </div>
                        <div class="row-ex">
                            <span>Weight</span>
                            <span>@Model.Weight KG</span>
                        </div>
                        <div class="row-ex">
                            <span>Abilities</span>
                            <span>34</span>
                        </div>
                    </div>
                </div>
                <div class="picture">
                    <img src="@Model.Sprites.Other.OfficialArtwork.FrontDefault" />
                </div>
            </div>
            <div class="stats">
                <div class="title">Stats</div>
                <div class="graphics">
                    @foreach (var stat in @Model.Stats)
                    {
                        <div class="d-flex row-ex justify-content-between">
                            <div class="p-2 name">@stat.Stat.Name</div>
                            <div class="progress">
                                <div class="progress-bar p-2" role="progressbar" aria-label="Basic example" style="width: @stat.BaseStat%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="p-2 base">@stat.BaseStat</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script>
        $(document).ready(function() {
            const color = pokemon.backgroundPokemon('@Model.Types[0].Type.Name');
            $(".bg-detail").attr("style", "background-color: "+color+";")
            $('#addpokemon').on('click', function() {
                var data = $(this).attr('data');
                addNewItem(data);
            });

            function addNewItem(item) {
                
                var getStorage = JSON.parse(localStorage.getItem("mypokemon")) || [];
                var isDuplicate = getStorage.some(function (items) {
                    return JSON.stringify(items) === item;
                });

                if (!isDuplicate) {
                    getStorage.push(JSON.parse(item));

                    // Simpan array data baru ke localStorage
                    localStorage.setItem('mypokemon', JSON.stringify(getStorage));

                    $('.toast').toast('show');
                } else {
                    $('.toast').find('.toast-body').text("Pokemon sudah pernah ditambahkan")
                    $('.toast').toast('show');
                }
            }
        });
    </script>
}


